<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    {% load main_tags %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'Css/style.css' %}">

    <title>{{ title }}</title>
</head>
<body>
{% block header %}
<div class="header" id="header">
    {% for m in menu%}
    {% if m.title == Поиск%}
    <div class="search">
        <input type="text" placeholder="Искать здесь">
        <button type="submit"></button>
    </div>
    {% else %}
    <div class="home" id="{{ m.url_name }}">
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    </div>
    {% endif %}
    {% endfor %}

</div>
{% endblock %}
<div class="all_content">
    {% block choice %}
    <div class="choise">
        {% for c in cats %}

        {% if c.pk == cat_selected %}
        <div class="work">
            <li class="selected">{{c.name}}</li>
        </div>
        {% else %}
        <div class="work">
            <a href="{{ c.get_absolute_url }}">{{c.name}}</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% endblock %}


    {% block content %}
    {% endblock %}

</div>
{% block footer %}

{% endblock %}
</body>
</html>