{% extends 'main/index/base.html' %}

{{ title }}

{% block content%}

{% endblock%}
{% block all_content %}

<div id="chat-body">
    {% for d in msg %}

    <div> {{ d.message }} </div>

    {% endfor %}

</div>
<form method="POST" id="myform">
    {% csrf_token %}
    {{ form.message }}
    <button type="submit">Отправить</button>
</form>


<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    let form = document.getElementById("myform")

    form.addEventListener("submit", sendChat)
    function sendChat(e) {
        e.preventDefault()
        let chatMessage = document.getElementById("id_message").value
        console.log(chatMessage)
        const data = {msg: chatMessage};
        let url = "{% url 'sent_msg' slug=profile %}"
        fetch(url, {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                let chat_body = document.getElementById('chat-body')
                let chatMessageBox = document.createElement('div')
                chatMessageBox.classList.add('chat-box-sent')
                chatMessageBox.innerText = data
                chat_body.append(chatMessageBox)
                document.getElementById("id_message").value = ''
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    setInterval(receiveMessages, 2000)

let counter = {{num_msg}}
    function receiveMessages() {
        let url = "{% url 'rec_msg' slug=profile %}"
        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);

                if (data.length == 0) {
                } else {

                    let lastMsg = data[data.length - 1]

                    if (counter == data.length) {
                        console.log("there is no new chat")
                    } else {
                        let chat_body = document.getElementById('chat-body')
                        let chatMessageBox = document.createElement("div")

                        chatMessageBox.classList.add("chat-box-received")
                        chatMessageBox.innerText = lastMsg
                        chat_body.append(chatMessageBox)
                        document.getElementById("id_message").value = ""
                        console.log()
                    }
                }
                counter = data.length
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

</script>


{% endblock %}