{% extends 'main/index/base.html' %}

{{ title }}

{% block all_content %}
<div class="all_message">
{% for p in profiles %}

<div class="message_block">
<a href="{% url 'chat' slug=p.slug %}">
    {{ p.slug }}
    </a>
    <div></div>


<div class="msg"> </div>
    </div>
{% endfor %}
    </div>

<script>
    setInterval(getMessage, 1000)
    function getMessage(){
        let url = "{% url 'new_msg' %}"

    fetch(url)
      .then(res=>res.json())
      .then(data=>{
        let chatNotificationBtn = document.getElementsByClassName("msg")
        for(let i = 0; i<data.length; i++){
          chatNotificationBtn[i].innerText = data[i]
        }
      })
      .catch(error => console.log(error))
    }
</script>



{% endblock %}
