{% extends 'main/index/base.html' %}

{% load static%}
{{ title }}
{% block choice %}
{% endblock %}
{% block all_content %}

<div class="post">
    {% if post.photo %}
    <div class="photo"><img src="{{ post.photo.url }}"></div>
    {% else %}
    <div class="photo"><img src="{% static 'images/2.jpeg' %}"></div>
    {% endif %}
    <div class="profile_info">
        <div class="post_profile">
        <a href="{% url 'profile_user' slug=post.user %}">
                                 {{ profile }}
        </a>
        </div>
    </div>
    <div class="post_content">
        <h1> {{post.title}}</h1>
        {{ post.content|linebreaks}}
    </div>
    <form method="post" action="{% url 'response' post.pk %}">
        {% csrf_token %}
        <button class="add_response" type="submit">Откликнутся</button>
    </form>
</div>

{% endblock %}

{% block content %}


{% endblock %}