{% extends 'main/index/base.html' %}
{% load static %}
{{ title }}
{% block choice%}
{% endblock %}
<div>
    {% block all_content %}
<div class="profile-user">
    <div class="profile">
        {% if profile.avatar %}
        <div class="up_post_photo">
            <img src="{{ profile.avatar.url }}">
        </div>
        {% else %}
        <div class="up_post_photo">
            <img src="{% static 'images/2.jpeg' %}">
        </div>
        {% endif %}
        <h1>Логин - {{ profile.user.username }}</h1><br>
        <h1>Имя - {{ profile.user.first_name }}</h1>
        <h1>Фамилия - {{ profile.user.last_name }}</h1><br>
        <h1>Почта - {{ profile.user.email }}</h1><br>
        <h2>{{ user.profile.bio }}</h2>
        {% if request.user.id == profile.user.id %}
            <a href="{% url 'update_profile' slug=request.user %}">Настройки</a>
        {% else %}
        <div class="home"><a href="{% url 'chat' slug=profile.user %}">Написать сообщение</a></div>
        {{ profile.user }}
        {% endif %}
    </div>
</div>

    {% endblock %}
</div>