*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header{
    background: rgb(251, 246, 246);
    height: 90px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 5px 5px #9da9b1
}
.home {
    height: 45px;
    width: 85px;
    margin: 5px;
    background-color: #55acee;
    border-radius: 5%;
    display: grid;
    justify-self: center;
    align-self: center;
    box-shadow: 0 5px 0 #3C93D5;
}
.home a{
    color: black;
    text-decoration: none;
    justify-self: center;
    align-self: center;
}
.help {
    height: 45px;
    width: 85px;
    margin: 5px;
    background-color: #55acee;
    border-radius: 5%;
    display: grid;
    justify-self: start;
    align-self: center;
    box-shadow: 0 5px 0 #3C93D5;
}
.help a{
    color: black;
    text-decoration: none;
    justify-self: center;
    align-self: center;
}

.sing_up{
    justify-self: center;
}
.info{
    
    display: grid;
    grid-template-columns: auto auto 135px;
}
.status_name{
    display: grid;
    grid-column: 2/ 3;
    margin-right: 2px;
    justify-content: right;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.name{
    
}

.status{
    
}
.reating{
    
}
.avatar{
    grid-column: -2/ -1;
    height: 75px;
    width: 75px;
    background: red;
    border-radius: 50%;
    justify-self: end;
    margin-right: 35px;
    margin-top: 5px;
    
}


/* .footer{
    height: 100px;
    width: 100vw;
    background: rgb(15, 15, 242);
} */