* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background: rgb(251, 246, 246);
    height: 10vmax;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 300px 200px 150px;
    box-shadow: 0 5px 5px #9da9b1;
    justify-content: center;
}

.main_content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    row-gap: 25px;
}

.posts {
    display: grid;
    width: 98%;
    grid-gap: 2px;
    border: solid #9E9C9C 2px;
    box-shadow: 0 5px 5px #9da9b1;
    background: #F9F0DA;
    justify-content: center;
    grid-template-columns: 100px auto;
    grid-template-rows: min-content;
    text-decoration: none;
}

.posts:visited {
    text-decoration: none;
}

.posts h1 {
    font-size: 25px;
}

.posts:hover {
    box-shadow: 0 5px 5px #A3D0C3;
    background-color: #6FC6FF;
}

.posts p {
    grid-column: -3/-2;
}

#btn-post {
    grid-column: -2/-1;
    width: 20%;
    margin-right: 10px;
    justify-self: center;
}


.up_post {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    height: 50%;

}

.up_post_photo {
    width: 20%;
}

.up_post_photo img {
    box-sizing: content-box;

    height: 125px;
    width: 125px;
}

#sing_up {
    justify-self: start;
}

#register {
    justify-self: end;
}

.photo img {
    border: solid #F9F0DA 2px;
    margin: 5px;
    height: 75px;
    width: 75px;
    box-sizing: content-box;
    border-radius: 50px;

}

.search {
    background: #A3D0C3;
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 80% 20%;
    box-shadow: 0 5px 5px #9da9b1;
    justify-self: center;
    align-self: center;
    margin: 5px;
}

.search input {
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

.search button {
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search button::before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}


.home {
    height: 30px;
    width: 50%;
    margin: 5px;
    border: 2px solid #7BA7AB;
    box-shadow: 0 5px 5px #9da9b1;
    background: #A3D0C3;
    border-radius: 5%;
    display: grid;
    justify-self: center;
    align-self: center;
    font-size: 90%;

}

.home:hover {
    background-color: #6FC6FF;
}

.home a {
    width: 100%;
    text-align: center;

    color: black;
    text-decoration: none;
    justify-self: center;
    align-self: center;
}

.all_content {
    height: 80vmax;
    width: 90%;
    background: rgb(251, 246, 246);
    box-shadow: 0 5px 5px #9da9b1;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 25px;

}

.choise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 20px;

}

.selected {
    background: #F9F0DA;
}

.work {
    justify-self: center;
    align-self: center;
    margin-right: 15px;
    text-align: center;
    border-radius: 5%;
    width: 45%;
    background: #A3D0C3;
    border: 3px solid #7BA7AB;
}

.work:hover {
    background-color: #6FC6FF;
}

.work a {
    width: 100%;
    color: black;
    text-decoration: none;
    justify-self: center;
    align-self: center;
}

.add_page {
    width: 80%;
    display: grid;
    justify-self: center;
    row-gap: 15px;
}
.form-post {
    display: grid;
    grid-template-columns: 30% 70%;

}
.form_content {

    height: 150px;
}
.form_url {
    width: 140px;
}

.footer {
    height: 10vmax;
    width: 100%;
    background: rgb(15, 15, 242);
}