*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.register_form{
       height: 80vmax;
    width: 50%;
    background: rgb(251, 246, 246);
    box-shadow: 0 5px 5px #9da9b1;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    display: grid;
    justify-items: center;
    align-items: start;

}

.form{
    height: 30%;
    display: grid;
    align-content: center;
    grid-row-gap: 10px;

}